<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../recursos/css/index.css">
    <link rel="stylesheet" href="../recursos/css/tabla.css">
  <title>Mantenimineto Socios | COOPCOPE</title>

  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />

  <!-- Nucleo Icons -->
  <link href="../recursos/css/nucleo-icons.css" rel="stylesheet" />
  <link href="../recursos/css/nucleo-svg.css" rel="stylesheet" />

  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

  <!-- CSS Files -->
  <link id="pagestyle" href="../recursos/css/material-dashboard.css" rel="stylesheet" />

  <link rel="stylesheet" href="../recursos/css/mains.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



  <link rel="stylesheet" href="../recursos/css/tabla.css">

</head>

<body>
    <aside class="nav-header" >
        <nav class="nav">
          <ul class="list">
            <img src="../recursos/icon/logo.svg" alt="Logo" class="logo">
      
              <li class="list__item">
                  <div class="list__button">
                      <img src="../recursos/icon/dashboard.svg" class="list__img">
                      <a href="/" class="nav__link">Inicio</a>
                  </div>
              </li>
      
              <li class="list__item list__item--click">
                  <div class="list__button list__button--click">
                      <img src="../recursos/icon/docs.svg" class="list__img">
                      <a href="#" class="nav__link">Mantenimiento</a>
                      <img src="../recursos/icon/arrow.svg" class="list__arrow">
                  </div>
                  
                  <ul class="list__show">
                      <li class="list__inside">
                          <a href="/mantenimiento-empleados" class="nav__link nav__link--inside">Empleados</a>
                      </li>
      
                      <li class="list__inside">
                          <a href="/mantenimiento-socios" class="nav__link nav__link--inside"> Socios</a>
                      </li>
      
                      <li class="list__inside">
                        <a href="/mantenimiento-ahorros" class="nav__link nav__link--inside">Cuentas Ahorros</a>
                    </li>

                  </ul>
      
                  </li>
      
                  <li class="list__item list__item--click">
                    <div class="list__button list__button--click">
                        <img src="../recursos/icon/stats.svg" class="list__img">
                        <a href="#" class="nav__link">Transacciones</a>
                        <img src="../recursos/icon/arrow.svg" class="list__arrow">
                    </div>
                    <ul class="list__show">
                      <li class="list__inside">
                        <a href="/realizar-deposito" class="nav__link nav__link--inside">Deposito</a>
                    </li>
    
                    <li class="list__inside">
                        <a href="/realizar-retiro" class="nav__link nav__link--inside"> Retiro</a>
                    </li>
      
                  </ul>
                </li>
                  <li class="list__item">
                    <div class="list__button">
                        <img src="../recursos/icon/dashboard.svg" class="list__img">
                        <a href="/cerrar-sesion" class="nav__link" id="cerrar-sesion">Cerra sesion</a>
                    </div>
                </li>
              
      
      </nav>
      
      <header class="header bg-success">


        <h1  style="font-size: 25px;" class="text-white ph">Pagina/ Mantenimiento Socios</h1>
        <% if (typeof username !== 'undefined') { %>
           
            <p class="text-white ph">Bienvenido, <%= username %>!</p>
        <% } else { %>
            <p></p>
        <% } %>
      
      </header>
        </div>

        </div>
        <main class="principal">
          <div class="card-header">
            <div class="contenedor_tabla_crear_socio">
              <div class="contenedor_boton_ir_a_crear_socio">
                <p>Creación de nuevo socio</p>
                <div class="contenedor_flex">
                  <img src="https://cdn-icons-png.flaticon.com/128/64/64572.png" alt="">
                  <a title="Refrescar tabla" href="/crear-nuevo-Socio">Crear socios</a>
                </div>
              </div>
          
              <form method="post" action="/buscar_por_cedula" class="form_buscar_por_cedula">
                <p>Buscar socio por cedula!</p>
                <input maxlength="11" title="Buscar por cedula" name="cedula_buscar" type="text" required placeholder="Buscar">
                <button type="submit" title="Buscar">Buscar</button>
                <a title="Refrescar tabla" href="/mantenimiento-socios">Refrescar</a>
          
                <a title="Socios inactivos" href="/mostrar_socios_inactivos">Socios inactivos</a>
              </form>
          
              <div class="contedor_tabla_escrol">
                <table>
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Cedula</th>
                      <th>Nombre</th>
                      <th>Apellidos</th>
                      <th>Actividad</th>
                      <th>Accion</th>
                    </tr>
                  </thead>
          
                  <tbody>
          
                    <% if(typeof data !=='undefined' && data.length> 0 ) { %>
          
                      <%for (var i=0; i < data.length; i++){%>
          
          
                        <tr>
                          <td>
                            <%= (i + 1) %>
                          </td>
                          <td>
                            <%= data[i].cedulaSocio %>
                          </td>
                          <td class="nombre">
                            <%= data[i].nombreSocio %>
                          </td>
                          <td>
                            <%= data[i].apellidosSocio %>
                          </td>
                          <td>
                            <%= data[i].activo_inactivo %>
                          </td>
                          <td>
                            <!-- Codigo ventana principal, opciones sobre cada socio-->
                            <div class="opcion-icon-container">
                             
                              <img class="mostrarVentana opcion_icono_cuenta_redular" title="Opciones Socio"
                                src="https://cdn-icons-png.flaticon.com/128/2893/2893795.png" alt="">
                            </div>
          
                           
                              
          
                            <div class="ventana ventanaEmergente">
                              <div class="contenido">
                                <img class="icono_guardar_socio" src="http://localhost:3000/imagenes/documento.png" alt="">
          
                                <h2 class="h2_padding_top">Opciones</h2>
                                <p>Contenido de la ventana emergente.</p>
                                <hr>
                                <div class="contenedor_a_centrar">
          
                                  <a class="style_edit" href="/editar-datos-socio/<%= data[i].idSocio %>">Editar</a>
                                  <a class="style_edit" href="/ver_info_completa_socio/<%= data[i].idSocio %>">Información completa</a>
          
                                   <a class="style_edit" href="/socio_inactivo/<%= data[i].idSocio %>">Desavilitar socio</a>
          
          
                                 
                                  <!-- Codigo de ventana, seguro que quiere eliminar el socio-->
          
                                </div>
                              </div>
                            </div>
                          </td>
                          <!-- Codigo ventana principal, opciones sobre cada socio-->
          
              </div>
              </tr>
              
          
          
              <%}%>
                <%} else { %>
                  <tr class="quitar_border_tr_aviso">
                    <td class="aviso_no_hay_datos" colspan="6"> <img src="http://localhost:3000/imagenes/cara-triste.png" alt="">
                      Ups! lo sentimos, No hay datos para mostrar</td>
                  </tr>
                  <% } %>
          
          
          
                    </tbody>
                    </table>
        </div>

   
           
            </main>
</aside>

  
  </div>
  </div>


  <div class="main-class">
    <% if (typeof socio !=='undefined' ) { %>
      <h2>Datos del socio encontrado:</h2>
      <p>Nombre: <%= socio.nombreSocio %>
      </p>
      <p>Apellido: <%= socio.apellidosSocio %>
      </p>
      <!-- Otros campos de datos del socio aquí -->

      <% } %>


        <% if (typeof alert !="undefined" ) { %>
          <script>
            Swal.fire({
              title: '<%= alertTitle %>',
              text: '<%= alertMenssage %>',
              icon: '<%= alertIcon %>',
              showConfirmButton: '<%= showConfirmButton%>',
              timer: '<%= timer%>'
            }).then((result) => {
              window.location.href = '/<%= ruta %>'
            });
          </script>
          <% } %>
  </div>








  </div>

  <script>

    
    // Obtener todos los elementos con la clase "mostrarVentana"
const mostrarVentanaBtns = document.querySelectorAll('.mostrarVentana');
const ventanasEmergentes = document.querySelectorAll('.ventanaEmergente');
// Agregar un evento clic a cada botón

mostrarVentanaBtns.forEach((boton, index) => {
    boton.addEventListener('click', () => {
        ventanasEmergentes[index].style.display = 'block';
    });
});
// Cerrar la ventana emergente al hacer clic fuera de ella
ventanasEmergentes.forEach((ventanaEmergente) => {
    ventanaEmergente.addEventListener('click', (event) => {
        if (event.target === ventanaEmergente) {
            ventanaEmergente.style.display = 'none';
        }
    });
});

  </script>

<script src="../recursos/javaScript/barraLateral.js"></script>
<script src="../recursos/javaScript/index.js"></script>
<script src="../recursos/javaScript/alertas.js"></script>

  <script src="../recursos/javaScript/formularioSocios.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../recursos/javaScript/material-dashboard.min.js"></script>
</body>

</html>