<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mantenimineto Socios | COOPCOPE</title>


  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />

  <!-- Nucleo Icons -->
  <link href="../recursos/css/nucleo-icons.css" rel="stylesheet" />
  <link href="../recursos/css/nucleo-svg.css" rel="stylesheet" />

  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

  <!-- CSS Files -->



  <link id="pagestyle" href="../recursos/css/material-dashboard.css" rel="stylesheet" />

  <link rel="stylesheet" href="../recursos/css/mains.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body class="g-sidenav-show  bg-gray-100">

  <%- include('./partials/nav.ejs') %>
    <div class="header">
      <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
data-scroll="true">
<div class="container-fluid py-1 px-3">
  <nav aria-label="breadcrumb">

    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
      <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pagina</a></li>
      <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Mantenimineto socios</li>
    </ol>
    <h6 class="font-weight-bolder mb-0">Mantenimineto socios</h6>

  </nav>

  <ul class="navbar-nav  justify-content-end">
    </li>
    <li class="nav-item d-flex align-items-center">
      <a href="./pages/sign-in.html" class="nav-link text-body font-weight-bold px-0">
        <i class="fa fa-user me-sm-1"></i>
        <% if (login) { %>
          <span class="d-sm-inline d-none"><%= name %></span>
        <% } else { %>
          <span class="d-sm-inline d-none"></span>
        <% } %>
      </a>
    </li>
  </ul>
</div>
</div>
</nav>
    </div>


    <main class="main-class">
      <div class="d-flex flex-column h-100">
        <h2 class="font-weight-bolder mb-0">Mantenimineto de socios</h2>


        <div class="form-1">
          <div  class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl  ">
                    <i class="material-icons opacity-10">person_add</i>
                  </div>
          <p class="mant">Creacion de nuevos usuarios</p>
          <a href="/socios-creacion"><button id="mostrar-formulario" type="submit" class="btn bg-gradient-primary " > Crear</button></a>
        </div>

      </div>
      
      
    </main>

    <br><br><br>

    <div class="main-class2">
      <div class="d-flex flex-column h-100">
        <h2 class="font-weight-bolder mb-0">Buscar Socios</h2>


        <div class="form-2">
          <div class="card-body">
            <form  class="text-start" action="/socios-buscar" method="post">
              <div class="input-group input-group-outline my-3">
                
                <label class="form-label">Cedula</label>
                <input type="text" class="form-control" name="cedula">
              </div>
              <div class="text-center">
                <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2"> Buscar</button>
              </div>
            </form>
          </div>
        </div>

      </div>
      
      
    </div>
    
    
    
      
      
      
      
    <div class="main-class">
      <% if (typeof socio !== 'undefined') { %>
        <h2>Datos del socio encontrado:</h2>
        <p>Nombre: <%= socio.nombreSocio %></p>
        <p>Apellido: <%= socio.apellidosSocio %></p>
        <!-- Otros campos de datos del socio aquí -->
     
      <% } %>


<% if (typeof alert != "undefined") { %>
  <script>
      Swal.fire({
          title: '<%= alertTitle %>',
          text: '<%= alertMenssage %>',
          icon: '<%= alertIcon %>',
          showConfirmButton: '<%= showConfirmButton%>',
          timer: '<%= timer%>'
      }).then((result) => {
        window.location.href = '/<%= ruta %>'
      });
  </script>
  <% } %>
    </div>
    
    
    
    
    
    
    
    </div>
   


    <script src="../recursos/javaScript/formularioSocios.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../recursos/javaScript/material-dashboard.min.js"></script>
</body>

</html>