<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creacion Socios | Creacion Socios</title>


    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />

    <!--  Icons -->
    <link href="../recursos/css/nucleo-icons.css" rel="stylesheet" />
    <link href="../recursos/css/nucleo-svg.css" rel="stylesheet" />

    <!--  Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

    <!-- CSS -->
    <link id="pagestyle" href="../recursos/css/material-dashboard.css" rel="stylesheet" />

    <link rel="stylesheet" href="../recursos/css/mains.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body class="g-sidenav-show  bg-gray-100">

    <%- include('./partials/nav.ejs') %>
        <div class="header">
            <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
                data-scroll="true">
                <div class="container-fluid py-1 px-3">
                    <nav aria-label="breadcrumb">

                        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark"
                                    href="javascript:;">Pagina</a></li>
                            <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Mantenimineto
                                socios</li>
                        </ol>
                        <h6 class="font-weight-bolder mb-0">Mantenimineto socios</h6>

                    </nav>

                    <ul class="navbar-nav  justify-content-end">
                        </li>
                        <li class="nav-item d-flex align-items-center">
                            <a href="./pages/sign-in.html" class="nav-link text-body font-weight-bold px-0">
                                <i class="fa fa-user me-sm-1"></i>
                                
                                <% if (login) { %>
                                    <%= name || 'Usuario no logueado' %>
                                <% } else { %>
                                   
                                <% } %>
                            </a>
                        </li>
                    </ul>
                </div>
        </div>
        </nav>
        </div>


        <main class="main-class">
            <div class="d-flex flex-column h-100">
                <h2 class="font-weight-bolder mb-0"> Formulario de creacion de nuevo Socio</h2>



                <div class="form-1">
                    <div class="card-body">
                        <form class="text-start" action="/socios-creacion" method="post">
                            <div class="input-group input-group-outline my-3">
                                <label class="form-label">Nombre</label>
                                <input type="text" class="form-control" name="nombreSocio">
                            </div>
                            <div class="input-group input-group-outline mb-3">
                                <label class="form-label">Apellido</label>
                                <input type="text" class="form-control" name="apellidoSocio">
                            </div>
                            <div class="input-group input-group-outline mb-3">
                                <label class="form-label">Cedula</label>
                                <input type="text" class="form-control" name="cedulaSocio" id="numero">
                            </div>
                            <div class="input-group input-group-outline mb-3">
                                <label class="form-label"></label>
                                <input type="date" class="form-control" name="fecNacSocio">
                            </div>
                            <div class="input-group input-group-outline mb-3">
                                
                                <input type="radio" name="sexo" value="M"> Masculino  
                                
                                <input type="radio" name="sexo" value="F"> Femenino
                            </div>

                            <div class="input-group input-group-outline mb-3">
                                <label class="form-label">Estado Civil</label>
                                <input type="text" class="form-control" name="estadoCivilSocio">
                            </div>

                            <div class="input-group input-group-outline mb-3">
                                <label class="form-label">Puesto de Trabajo</label>
                                <input type="text" class="form-control" name="puestoTrabajo">
                            </div>

                            <div class="input-group input-group-outline mb-3">
                                <label class="form-label">Nombre de la empresa</label>
                                <input type="text" class="form-control" name="nombreEmpresaSocio">
                            </div>

                            <div class="input-group input-group-outline mb-3">
                                <label class="form-label">Direccion de la Empresa</label>
                                <input type="text" class="form-control" name="direccionEmpresaSocio">
                            </div>


                            <div class="input-group input-group-outline mb-3">
                                <label class="form-label">Ganancias Mensual</label>
                                <input type="text" class="form-control" name="gananciaSocio" id="numero">
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2"> Crear Socio</button>
                            </div>
                        </form>
                    </div>
                </div>
        </main>

<% if (typeof alert != "undefined") { %>
    <script>
        Swal.fire({
            title: '<%= alertTitle %>',
            text: '<%= alertMenssage %>',
            icon: '<%= alertIcon %>',
            showConfirmButton: '<%= showConfirmButton%>',
            timer: '<%= timer%>'
        }).then((result) => {
          window.location.href = '/<%= ruta %>'
        });
    </script>
    <% } %>

        <script src="../recursos/javaScript/form.js"></script>
        <script src="../recursos/javaScript/material-dashboard.min.js"></script>
</body>

</html>